{% extends 'core/base.html' %}
{% load static %}  
{% block content %}
<h3 class="text-center mt-4">Ansiedad</h3>

<section class="text-center">
    <div>
        {% for x in archivos %}
            <div>
                <div>
                    <div>
                        <p> {{ x.nomA}} {{ x.desA}}</p> <a href="{{ x.file_upload.url }}" class="btn btn-primary">Descargar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

